<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Thank You!">
        <meta name="keywords" content="free, win, prize, survey, freebie">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>Thank You!</title>
    </head>
    <body>
        <h1>Thank You, {{ name }}!</h1>
        <h2>We will contact you by e-mail or telephone if you win!</h2>
    </body>
</html>
